##### Exercise 1: Print First 10 natural numbers using while loop

In [1]:
i=1
while(i<=10):
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10

##### Exercise 2: Print the following pattern:  
                                          1111
                                           111
                                            11
                                             1

In [2]:
n=4
for i in range(4):
    for j in range(i+1):
        print(" ",end=" ")
    for j in range(i,n):
        print("1",end=" ")
    print()

  1 1 1 1
    1 1 1
      1 1
        1

##### Exercise 3: Calculate the sum of all numbers from 1 to a given number

In [4]:
a=1
b=int(input('Enter a number:'))
sum=0
for i in range(a,b+1):
    sum=sum+i
print(sum)

Enter a number:6
21

In [5]:
def add(*num):
    sum=0
    for i in num:
        sum=sum+i
    print(sum)

In [6]:
add(1,2,3,4,5,6)

21

##### Exercise 4: Write a program to print multiplication table of a given number

In [7]:
num=int(input('Enter a number:'))
for i in range(1,11):
    print(num,"X",i,"=",num*i)

Enter a number:26
26 X 1 = 26
26 X 2 = 52
26 X 3 = 78
26 X 4 = 104
26 X 5 = 130
26 X 6 = 156
26 X 7 = 182
26 X 8 = 208
26 X 9 = 234
26 X 10 = 260

##### Exercise 5: Display numbers from a list using loop

In [8]:
a=[1,2,3,4,5]
for i in range (len(a)):
    print(a[i])

1
2
3
4
5

In [9]:
a=[1,2,3,4]
print(*a,sep=" , ")

1 , 2 , 3 , 4

In [10]:
a=[1,2,3,4,'hii']
print(*a)

1 2 3 4 hii

##### Exercise 6: Count the total number of digits in a number

In [11]:
n=29878899
i=0
while(n>0):
    i=i+1
    n//=10    #n=n//10
print("The total number of digits in a number are:",i)

The total number of digits in a number are: 8

##### Exercise 7: Print the following pattern : Diamond shape

In [12]:
# Reading number of row 
n=4
for i in range(n):
    for j in range(i,n):
        print(" ",end=' ')
    for j in range(i+1):
        print('*',end=" " )
    for j in range(i):
        print("*",end=" ")
    print()
    
for i in range(n):
    for j in range(i+1):
        print(" ",end=' ')
    for j in range(i,n-1):
        print('*',end=" ")
    for j in range(i,n):
        print("*",end=" ")
    print()

        *
      * * *
    * * * * *
  * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

##### Exercise 8: Print list in reverse order using a loop

In [13]:
original_list = [1, 2, 3, 4, 5,"hii",8.9]
print("List before reverse : ",original_list) 
reversed_list = [] 
for i in original_list: 
    reversed_list = [i] + reversed_list 
print("List after reverse:",reversed_list)

List before reverse :  [1, 2, 3, 4, 5, 'hii', 8.9]
List after reverse: [8.9, 'hii', 5, 4, 3, 2, 1]

In [14]:
original_list=[1,2,3,"hii"]
print(original_list)
for i in original_list:
    print("reversed_list:",original_list[::-1])

[1, 2, 3, 'hii']
reversed_list: ['hii', 3, 2, 1]
reversed_list: ['hii', 3, 2, 1]
reversed_list: ['hii', 3, 2, 1]
reversed_list: ['hii', 3, 2, 1]

##### Exercise 9: Display numbers from -10 to -1 using for loop

In [15]:
for i in range(-10,0,1):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

##### Exercise 10: Use else block to display a message “Done” after successful execution of for loop

In [16]:
for i in range(2,0):
    print(i,end="")
else:
    print('Done')

Done

##### Exercise 11: Write a program to display all prime numbers within a range

In [18]:
a = 2 
b= 50
for num in range(a,b+ 1): 
    if num > 1:     # all prime #s are greater than 1 
        for i in range(2,num): 
            if (num % i) == 0: 
                break
        else:
            print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

##### Exercise 12: Display Fibonacci series up to 10 terms

In [19]:
num=10
n1,n2=0,1
print("Fibonacci Series:",n1,n2,end=" ")
for i in range(2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")
    
print()

Fibonacci Series: 0 1 1 2 3 5 8 13 21 34

In [20]:
num=15
n1=0
n2=1
print("fibonacci series",n1,n2,end=" ")
for i in range(2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3,end=" ")
print()

fibonacci series 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

##### Exercise 13: Find the factorial of a given number

In [21]:
num=4
fact=1
for i in range (1,num+1):
    fact=fact*i
print(fact)

24

##### Exercise 14: Reverse a given integer number

In [22]:
num=1234567789
print(str(num)[::-1])

9877654321

##### Exercise 15: Use a loop to display elements from a given list present at odd index positions

In [23]:
list=[]
size=int(input('Enter size of list:'))
for i in range (size):
    num=input('enter element:')
    list.append(num)
print(list)
for i in range(len(list)):
     if(not(i%2))==0:
            print([i],list[i])

Enter size of list:4
enter element:12
enter element:54
enter element:36
enter element:38
['12', '54', '36', '38']
[1] 54
[3] 38

##### Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [24]:
a=1
b=int(input('Enter number:'))
Cubes=[]
for i in range(a,b+1):
    Cubes.append(i**3)
    print("Cube of",i,"=",i**3)

Enter number:3
Cube of 1 = 1
Cube of 2 = 8
Cube of 3 = 27

In [25]:
a=1
b=int(input('enter a number'))
cubes=[]
for i in range(a,b+1):
    cubes.append(i**3)
    print("Cube of",i,"=",i**3)

enter a number4
Cube of 1 = 1
Cube of 2 = 8
Cube of 3 = 27
Cube of 4 = 64

##### Exercise 17: Find the sum of the series upto n terms

In [26]:
n=int(input('Enter your number:'))
a=((n+1)*n)/2
print(a)

Enter your number:6
21.0

In [27]:
n=int(input('Enter number:'))
sum=0
while(n>0):
    sum=sum+n
    n=n-1
print(sum)

Enter number:7
28

##### Exercise 18: Print the following pattern:
        1
        12
        123
        1234

In [28]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4